<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" autocomplete="off" novalidate>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input
                        formControlName="firstName"
                        type="text"
                        class="form-control"
                        placeholder="First Name..."
                        [ngClass]="{error: !validateFirstName()}"
                />
                <em *ngIf="!validateFirstName()">Required</em>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input
                        formControlName="lastName"
                        type="text"
                        class="form-control"
                        placeholder="Last Name..."
                        [ngClass]="{'error': !validateLastName()}"
                />
                <em *ngIf="!validateLastName()">Required</em>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>

