/* You can add global styles to this file, and also import other style files */
.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

$invalid-placeholder-color: #999;
em {
  float: right;
  color: #E05C65;
  padding-left: 10px;
}

input {
  &.error {
    background-color: #E3C3C5;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $invalid-placeholder-color;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: $invalid-placeholder-color;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $invalid-placeholder-color;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $invalid-placeholder-color;
    }
  }
}
